<html>
<%=msg%>
<body>
<form method = "post" action = "loop">

<input type="submit" name="choice" value="1"><%=ttt_board[0]%> ||
<input type="submit" name="choice" value="2"><%=ttt_board[1]%> ||
<input type="submit" name="choice" value="3"><%=ttt_board[2]%><br>
_________________<br>
<input type="submit" name="choice" value="4"><%=ttt_board[3]%> ||
<input type="submit" name="choice" value="5"><%=ttt_board[4]%> ||
<input type="submit" name="choice" value="6"><%=ttt_board[5]%><br>
_________________<br>
<input type="submit" name="choice" value="7"><%=ttt_board[6]%> ||
<input type="submit" name="choice" value="8"><%=ttt_board[7]%> ||
<input type="submit" name="choice" value="9"><%=ttt_board[8]%><br>

</form>

</body>


</html>
