<html>
<body>
    <h2><%=msg%><br></h2>
<h3>
    <input type="submit" name="choice" value="<%=ttt_board[0]%>"> ||
    <input type="submit" name="choice" value="<%=ttt_board[1]%>"> ||
    <input type="submit" name="choice" value="<%=ttt_board[2]%>"><br>
    ============<br>
    <input type="submit" name="choice" value="<%=ttt_board[3]%>"> ||
    <input type="submit" name="choice" value="<%=ttt_board[4]%>"> ||
    <input type="submit" name="choice" value="<%=ttt_board[5]%>"><br>
    ============<br>
    <input type="submit" name="choice" value="<%=ttt_board[6]%>"> ||
    <input type="submit" name="choice" value="<%=ttt_board[7]%>"> ||
    <input type="submit" name="choice" value="<%=ttt_board[8]%>"><br>
</h3>
</body>

</html>
